$blue: hsl(238, 40%, 52%);
$Red: hsl(358, 79%, 66%);
$Light-blue: hsl(239, 57%, 85%);
$Pale-red: hsl(357, 100%, 86%);
$Dark-blue: hsl(212, 24%, 26%);
$Grayish-Blue: hsl(211, 10%, 45%);
$Light-gray: hsl(223, 19%, 93%);
$Very-light-gray: hsl(228, 33%, 97%);
$White: hsl(0, 0%, 100%);
$font-size: 16px;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: $Light-gray;
    max-width: 1200px;
    margin: auto;
}
.container {
    width: min(90%, 1140);
    margin: 3rem auto;
    
}
.comment_container {
    position: relative;
    background-color: $White;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 4rem auto;
}
.comment_container::before {
    content: "";
    background-color: $Grayish-Blue;
    position: absolute;
    min-height: 100%;
    width: 1px;
    left: -20px
}
.comment_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    background-color: $Light-gray;
    margin: 0.9rem;
    border-radius: 8px;
    font-weight: 800;
    color: $blue;
    gap: 8px;
    max-height: 100px;
}
.like:hover, .dislike:hover, .show_edit:hover,
.show_delete:hover, .show_reply:hover {
    cursor: pointer;
}
.comment_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .comment_text_area {
        padding: 1rem;
        color: $Grayish-Blue;
    }
    .comment_header {
        display: flex;
        justify-content: space-between;
        padding-left: 1rem;

        img {
            width: 50px;
            margin-top: 1rem;
        }
        .show_reply {
            align-self: center;
            margin-right: 2rem;
            font-weight: 800;
            font-size: 1.1rem;
            color: $blue;
        }
        .comment_date {
            color: $Grayish-Blue;
        }
        .comment_header1 {
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        .comment_name {
            font-weight: 600;
            color: $Dark-blue;
            margin-left: -1rem;
        }
    }
}
.like, .dislike {
    color: $Grayish-Blue;
}
.comment_you {
    background-color: $blue;
    color: $White;
    border-radius: 5px;
    font-size: 0.6rem;
    padding: 5px;
}
.comment_bottom {
    display: flex;
    flex-direction: column;
}
.show_on_large {
    display: flex;
}
.show_delete {
    color: $Red;
    align-self: center;
    margin-right: 1rem;
    font-weight: 800;
    font-size: 1.1rem;
}
.show_edit {
    align-self: center;
    margin-right: 2rem;
    font-weight: 800;
    font-size: 1.1rem;
    color: $blue;
}
#form_container {
    width: min(90%, 1140);
    margin: 3rem auto;
    background-color: $White;
    padding: 2rem;
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
}
.input_area {
    width: 90%;
    border-radius: 0.5rem;
    border-style: groove;
    border-color: $Light-gray;
    padding: 1rem;
    height: auto;
}
.send_btn {
    color: $White;
    background-color: $blue;
    border: none;
    border-radius: 1rem;
    width: 5rem;
    max-height: 3rem;
}


.show_reply.phone, .show_edit.phone, .show_delete.phone {
    display: none;
}
@media only screen and (max-width: 600px) {
    .comment_container {
        grid-template-columns: 1fr;
    }
    .comment_side {
        grid-row: 2;
        display: flex;
        flex-direction: row;
        
    }
    .comment_bottom {
    flex-direction: row;
    }
    .show_reply {
        display: none;
    }
    .show_reply.phone, .show_edit.phone, .show_delete.phone {
        display: block;
    }
    .show_reply.phone {
        margin-left: 3rem;
    }
    .show_on_large {
        display: none;
    }
    .comment_bottom {
    margin-left: 2rem;
    gap: 8px;
    }
    .comment_side.my_comment {
        justify-content: space-between;
    }
    #form_container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .label_avatar {
        grid-row: 2;
    }
    .send_btn {
        grid-row: 2;
    }
    .input_area {
        grid-column: span 2;
    }
}